# Importing different Library

In [81]:
import numpy as np
import pandas as pd
import requests 
import xlsxwriter
import math

# import our list of stocks

In [82]:
stocks = pd.read_csv("sp_500_stocks.csv")
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

# aquire an API token

In [83]:
from secrets import IEX_CLOUD_API_TOKEN

# Making our First API call

In [84]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
print(api_url)
data = requests.get(api_url)
type(data)
print(data.status_code)
data = requests.get(api_url).json()
print(data)

https://sandbox.iexapis.com/stable/stock/AAPL/quote/?token=Tpk_059b97af715d417d9f49f50b51b1c448
200
{'avgTotalVolume': 107856816, 'calculationPrice': 'close', 'change': -0.3, 'changePercent': -0.00175, 'close': 177.51, 'closeSource': 'fcfioial', 'closeTime': 1715993553643, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': 177.92, 'delayedPriceTime': 1712038188811, 'extendedChange': 0.11, 'extendedChangePercent': 0.00065, 'extendedPrice': 178.3, 'extendedPriceTime': 1689473334380, 'high': 177.51, 'highSource': 'i1nl5a  ciupdydr eemeet', 'highTime': 1650808752687, 'iexAskPrice': None, 'iexAskSize': None, 'iexBidPrice': None, 'iexBidSize': None, 'iexClose': 178.96, 'iexCloseTime': 1710862854220, 'iexLastUpdated': None, 'iexMarketPercent': None, 'iexOpen': 178.93, 'iexOpenTime': 1706604832196, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexVolume': None, 'lastTradeTime': 1673225143387, 'latestPrice': 176.7, 'latestSource': 'Close', 'latestTime': 'February 4, 2022', 'latestUpdate': 1706305013935, 'latestVolume': 84514492, 'low': 174.79, 'lowSource': 'lt raee 5eiun pidce1ydm', 'lowTime': 1691759001327, 'marketCap': 2873796448582, 'oddLotDelayedPrice': 179.32, 'oddLotDelayedPriceTime': 1667293419600, 'open': 174.79, 'openTime': 1709677529181, 'openSource': 'clifiaof', 'peRatio': 29.73, 'previousClose': 174.08, 'previousVolume': 92404990, 'primaryExchange': 'ADQNAS', 'symbol': 'AAPL', 'volume': 83585857, 'week52High': 183.28, 'week52Low': 120.25, 'ytdChange': -0.0304962550841575, 'isUSMarketOpen': False}

# Parsing our call

In [85]:
price =data['latestPrice']
print(price)
market_cap = data['marketCap']
print(market_cap/1000000000000)

176.7
2.873796448582

# Adding our stocks Data to pandas dataFrame

In [86]:
my_columns = ['Ticker','Stock Price','Market Capitalization', 'Number of Share to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Share to Buy]
Index: []

In [87]:
# Pandas Series - Need to check ?

In [112]:
final_dataframe.append(
    pd.Series(
        [
            symbol,
            price,
            market_cap,
            'N/A'
        ],
        index = my_columns,
    ),
    ignore_index=True
)

    Ticker  Stock Price Market Capitalization Number of Share to Buy
0        A       146.37           42686002920                    N/A
1      AAL        16.56           11061595002                    N/A
2      AAP       232.13           14449959930                    N/A
3     AAPL       180.90         2915911896694                    N/A
4     ABBV       142.76          255188255600                    N/A
..     ...          ...                   ...                    ...
480    WEC        97.63           31013075373                    N/A
481   WELL        82.52           36244153013                    N/A
482    WFC        56.67          242305811239                    N/A
483    WHR       208.00           12543696169                    N/A
484   AAPL       176.70         2873796448582                    N/A

[485 rows x 4 columns]

#  Looping for all stocks

In [155]:
final_dataframe = pd.DataFrame(columns=my_columns)
for stock in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    print(api_url)
    data = requests.get(api_url)
    print(data.status_code)
    data = data.json()
    final_dataframe = final_dataframe.append(
        pd.Series(
        [
            stock,
            data['latestPrice'],
            data['marketCap'],
            'N/A'
        ],
        index = my_columns),
        ignore_index=True
    )
    print(final_dataframe)

https://sandbox.iexapis.com/stable/stock/WLTW/quote/?token=Tpk_059b97af715d417d9f49f50b51b1c448
404

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [151]:
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Share to Buy]
Index: []

# using Batch API call to improve performance

In [104]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [122]:
symbol_group = list(chunks(stocks['Ticker'],100))
symbol_strings = []
for i in range(0,len(symbol_group)):
    symbol_strings.append(','.join(symbol_group[i]))
    #print(symbol_strings[i])

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Share to Buy]
Index: []

In [162]:
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe
for symbol_string in symbol_strings:
    try:
        batch_api_call = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
        print(batch_api_call)
        data = requests.get(batch_api_call).json()
        for symbol in symbol_string.split(','):
           try:
               final_dataframe = final_dataframe.append(

                    pd.Series(
                        [
                            symbol,
                            data[symbol]['quote']['latestPrice'],
                            data[symbol]['quote']['marketCap'],
                            'N/A'

                        ],
                        index = my_columns),
                   ignore_index=True
               )
           except:
            print("This Symbol having issue while fetching data->"+str(symbol))
    except:
        print("Symbol having issue while fetching data")
final_dataframe

https://sandbox.iexapis.com/stable/stock/market/batch?symbols=A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCA,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=GIS,GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HFC,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=MCK,MCO,MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=ROL,ROP,ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VIAC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WLTW,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448
This Symbol having issue while fetching data->WLTW
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=YUM,ZBH,ZBRA,ZION,ZTS&types=quote&token=Tpk_059b97af715d417d9f49f50b51b1c448

    Ticker  Stock Price Market Capitalization Number of Share to Buy
0        A       148.15           42931763671                    N/A
1      AAL        16.59           10882753742                    N/A
2      AAP       231.24           14734968283                    N/A
3     AAPL       179.64         2952719981529                    N/A
4     ABBV       146.07          249729195650                    N/A
..     ...          ...                   ...                    ...
499    YUM       128.67           37257786912                    N/A
500    ZBH       124.57           26027711172                    N/A
501   ZBRA       508.97           27778567389                    N/A
502   ZION        72.93           11503213658                    N/A
503    ZTS       202.93           97763380557                    N/A

[504 rows x 4 columns]

# calulating Number of Share to buy

In [176]:
portfolio_size = input("Enter the value of portfolio:")

try:
    val = float(portfolio_size)
except:
    print("Enter again....\n")
    portfolio_size = input("Enter the value of portfolio:")
    val = float(portfolio_size)

Enter the value of portfolio:10000000

In [183]:
position_size = val/len(final_dataframe.index)
for i in range(0,len(final_dataframe)):
#     print(final_dataframe.loc[i,'Number of Share to Buy'])
    final_dataframe.loc[i,'Number of Share to Buy'] = math.floor(position_size/final_dataframe.loc[i,"Stock Price"])
final_dataframe
# print(number_of_share)
# apple_number_of_share = position_size/500
# print(math.floor(apple_number_of_share))

    Ticker  Stock Price Market Capitalization Number of Share to Buy
0        A       148.15           42931763671                    133
1      AAL        16.59           10882753742                   1195
2      AAP       231.24           14734968283                     85
3     AAPL       179.64         2952719981529                    110
4     ABBV       146.07          249729195650                    135
..     ...          ...                   ...                    ...
499    YUM       128.67           37257786912                    154
500    ZBH       124.57           26027711172                    159
501   ZBRA       508.97           27778567389                     38
502   ZION        72.93           11503213658                    272
503    ZTS       202.93           97763380557                     97

[504 rows x 4 columns]

# Formating our excel output

In [197]:
writer = pd.ExcelWriter("recommended trade.xlsx",engine = 'xlsxwriter')
final_dataframe.to_excel(writer,"Recommended Trades",index=False)

# Creating Formats we'll need for our .xlsx file

In [198]:
background_color = '#0a0a23'
font_color = '#ffffff'
string_format = writer.book.add_format(
    {
        'font_color':font_color,
        'bg_color':background_color,
        'border': 1
    }
)
dollar_format = writer.book.add_format(
    {
        'num_format':'$0.00',
        'font_color':font_color,
        'bg_color':background_color,
        'border': 1
    }
)
integer_format = writer.book.add_format(
    {
        'num_format':'$0.00',
        'font_color':font_color,
        'bg_color':background_color,
        'border': 1
    }
)

# Apply Format in our excel

In [199]:
writer.sheets['Recommended Trades'].set_column('A:A',18,string_format)
writer.sheets['Recommended Trades'].set_column('B:B',18,string_format)
writer.sheets['Recommended Trades'].set_column('C:C',18,string_format)
writer.sheets['Recommended Trades'].set_column('D:D',18,string_format)
writer.save()