# Quantitative Momentum Startegy
Investing in the sotcks that have increase in price most

#   Library import

In [3]:
import numpy as np
import pandas as pd
import requests 
import math
from scipy import stats
import xlsxwriter

# import Our List stocks

In [5]:
stocks = pd.read_csv("sp_500_stocks.csv")
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [6]:
from secrets import IEX_CLOUD_API_TOKEN

# Making our First call

In [12]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats/?token={IEX_CLOUD_API_TOKEN}'
data  = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2918284562692,
 'week52high': 184.68,
 'week52low': 121.01,
 'week52highSplitAdjustOnly': 189.34,
 'week52lowSplitAdjustOnly': 119.6,
 'week52change': 0.2733143418993041,
 'sharesOutstanding': 16743325115,
 'float': 0,
 'avg10Volume': 109417301,
 'avg30Volume': 108274499,
 'day200MovingAvg': 161.53,
 'day50MovingAvg': 173.55,
 'employees': 147876,
 'ttmEPS': 6.24,
 'ttmDividendRate': 0.8847151301082837,
 'dividendYield': 0.005136232109742198,
 'nextDividendDate': '',
 'exDividendDate': '2022-02-02',
 'nextEarningsDate': '2022-04-27',
 'peRatio': 29.02540184599062,
 'beta': 1.430645566335162,
 'maxChangePercent': 65.4861245698304,
 'year5ChangePercent': 4.789014172497365,
 'year2ChangePercent': 1.1976328198902415,
 'year1ChangePercent': 0.2699916469051143,
 'ytdChangePercent': -0.0285271625825776,
 'month6ChangePercent': 0.1822679642003273,
 'month3ChangePercent': 0.1480304527304375,
 'month1ChangePercent': -0.013860395307545953,
 'day30ChangePercent': 0.003698320368734706,
 'day5ChangePercent': 0.013635590063740453}

# Parising our API Call

In [13]:
data['year1ChangePercent']

0.2699916469051143

# Batch API call

In [33]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
        
symbol_group = list(chunks(stocks['Ticker'],100))
symbol_strings = []
for i in range(0,len(symbol_group)):
    symbol_strings.append(','.join(symbol_group[i]))        

my_columns = ['Ticker','Price','One-Year Price Return','Number of Share to Buy']

In [54]:
final_dataframe = pd.DataFrame(columns=my_columns)
for symbol_string in symbol_strings:
    batch_api_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string},fb&types=price,stats&token={IEX_CLOUD_API_TOKEN}'
#     print(batch_api_url)
    data = requests.get(batch_api_url).json()
    for symbol in (symbol_string.split(',')):
        try:
            final_dataframe = final_dataframe.append(
                pd.Series(
                    [
                        symbol,
                        data[symbol]['price'],
                        data[symbol]['stats']['year1ChangePercent'],
                        'N/A'
                    ],index = my_columns),
                ignore_index=True
            )
        except:
            print("This Symbol having issue while fetching data->"+str(symbol))
final_dataframe

This Symbol having issue while fetching data->WLTW

    Ticker   Price One-Year Price Return Number of Share to Buy
0        A  143.36              0.154629                    N/A
1      AAL   17.10             -0.044791                    N/A
2      AAP  237.81              0.474898                    N/A
3     AAPL  176.89              0.277091                    N/A
4     ABBV  145.93              0.362559                    N/A
..     ...     ...                   ...                    ...
499    YUM  128.19              0.217306                    N/A
500    ZBH  125.30             -0.230688                    N/A
501   ZBRA  526.00              0.246208                    N/A
502   ZION   72.52              0.545853                    N/A
503    ZTS  208.68              0.268547                    N/A

[504 rows x 4 columns]

# Removing Low Momemtum stock

In [55]:
final_dataframe.sort_values('One-Year Price Return',ascending=False,inplace=True )
final_dataframe=  final_dataframe[:50]
final_dataframe.reset_index(inplace=True)
final_dataframe

    index Ticker    Price One-Year Price Return Number of Share to Buy
0     275     LB    80.36              2.375547                    N/A
1     148    DVN    54.30              2.118189                    N/A
2     317    MRO    22.50               1.78459                    N/A
3     109    COP    93.08              1.187643                    N/A
4     344    NUE   116.49              1.158484                    N/A
5     160    EOG   116.50              1.144546                    N/A
6     175   FANG   138.31              1.112231                    N/A
7     299   MCHP    73.47              1.073055                    N/A
8     195   FTNT   314.52               1.05686                    N/A
9     386    PXD   231.73              0.882716                    N/A
10    357    OXY    41.40              0.834849                    N/A
11    251     IT   300.22              0.829612                    N/A
12     89     CF    75.92              0.815042                    N/A
13    345   NVDA   246.93              0.812374                    N/A
14     42    APA    35.75              0.804569                    N/A
15    173    EXR   209.43              0.796876                    N/A
16    482    WFC    58.44              0.773898                    N/A
17    495    XOM    83.65              0.740079                    N/A
18    395    RHI   119.38              0.720571                    N/A
19    315    MPC    81.26              0.713734                    N/A
20    218    HES    99.95               0.70543                    N/A
21    212    HAL    32.49              0.693694                    N/A
22    407   SCHW    93.50              0.685253                    N/A
23     54    AZO  2024.90              0.668279                    N/A
24    382    PSA   375.17              0.656602                    N/A
25    295    MAA   213.49              0.644294                    N/A
26     98    CMA    97.93              0.626541                    N/A
27    314    MOS    45.30              0.598489                    N/A
28    365    PFE    55.00              0.592542                    N/A
29    174      F    18.55              0.588859                    N/A
30    352    OKE    65.56              0.582043                    N/A
31    123    CVX   136.60              0.580966                    N/A
32    417    SPG   149.53              0.579141                    N/A
33     39   ANTM   451.62               0.57747                    N/A
34    465    VAR   178.59              0.573645                    N/A
35    412    SLB    39.28              0.570921                    N/A
36    122    CVS   108.96              0.561763                    N/A
37    396    RJF   116.34              0.559671                    N/A
38    381    PRU   122.45              0.553847                    N/A
39    494   XLNX   218.15              0.546497                    N/A
40    502   ZION    72.52              0.545853                    N/A
41     56    BAC    50.49              0.539984                    N/A
42    185   FITB    49.48              0.538111                    N/A
43     37   ANET   128.40              0.526914                    N/A
44     82   CBRE   102.60               0.52228                    N/A
45     64     BK    63.68              0.518721                    N/A
46    458    UNH   486.15              0.518599                    N/A
47    468    VLO    90.90              0.515796                    N/A
48    273    KSU   294.58              0.510877                    N/A
49    249    IRM    45.92              0.505446                    N/A

# Calulating Number of Share to buy

In [67]:
portfoliosize = float(10000000)
postion_size = portfoliosize/len(final_dataframe)
postion_size
for i in range(0,len(final_dataframe)):
    final_dataframe.loc[i,'Number of Share to Buy'] = math.floor(postion_size/final_dataframe.loc[i,'Price'])
final_dataframe

C:\Users\aakash\Anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

    index Ticker    Price One-Year Price Return Number of Share to Buy
0     275     LB    80.36              2.375547                   2488
1     148    DVN    54.30              2.118189                   3683
2     317    MRO    22.50               1.78459                   8888
3     109    COP    93.08              1.187643                   2148
4     344    NUE   116.49              1.158484                   1716
5     160    EOG   116.50              1.144546                   1716
6     175   FANG   138.31              1.112231                   1446
7     299   MCHP    73.47              1.073055                   2722
8     195   FTNT   314.52               1.05686                    635
9     386    PXD   231.73              0.882716                    863
10    357    OXY    41.40              0.834849                   4830
11    251     IT   300.22              0.829612                    666
12     89     CF    75.92              0.815042                   2634
13    345   NVDA   246.93              0.812374                    809
14     42    APA    35.75              0.804569                   5594
15    173    EXR   209.43              0.796876                    954
16    482    WFC    58.44              0.773898                   3422
17    495    XOM    83.65              0.740079                   2390
18    395    RHI   119.38              0.720571                   1675
19    315    MPC    81.26              0.713734                   2461
20    218    HES    99.95               0.70543                   2001
21    212    HAL    32.49              0.693694                   6155
22    407   SCHW    93.50              0.685253                   2139
23     54    AZO  2024.90              0.668279                     98
24    382    PSA   375.17              0.656602                    533
25    295    MAA   213.49              0.644294                    936
26     98    CMA    97.93              0.626541                   2042
27    314    MOS    45.30              0.598489                   4415
28    365    PFE    55.00              0.592542                   3636
29    174      F    18.55              0.588859                  10781
30    352    OKE    65.56              0.582043                   3050
31    123    CVX   136.60              0.580966                   1464
32    417    SPG   149.53              0.579141                   1337
33     39   ANTM   451.62               0.57747                    442
34    465    VAR   178.59              0.573645                   1119
35    412    SLB    39.28              0.570921                   5091
36    122    CVS   108.96              0.561763                   1835
37    396    RJF   116.34              0.559671                   1719
38    381    PRU   122.45              0.553847                   1633
39    494   XLNX   218.15              0.546497                    916
40    502   ZION    72.52              0.545853                   2757
41     56    BAC    50.49              0.539984                   3961
42    185   FITB    49.48              0.538111                   4042
43     37   ANET   128.40              0.526914                   1557
44     82   CBRE   102.60               0.52228                   1949
45     64     BK    63.68              0.518721                   3140
46    458    UNH   486.15              0.518599                    411
47    468    VLO    90.90              0.515796                   2200
48    273    KSU   294.58              0.510877                    678
49    249    IRM    45.92              0.505446                   4355

# Build a Better Momemtum Startegy

Finding High Momemtum

In [108]:
hqm_columns =[
    'Ticker',
    'Price',
    'Number Of Share to Buy',
    'One-Year Price Return',
    'One-Year Return Percentile',
    'Six-Month Price Return',
    'Six-Month Return Percentile',
    'Three-Month Price Return',
    'Three-Month Return Percentile',    
    'One-Month Price Return',
    'One-Month Return Percentile'
    
]
hqm_dataframe = pd.DataFrame(columns=hqm_columns)
hqm_dataframe

for symbol_string in symbol_strings:
        batch_api_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string},fb&types=price,stats&token={IEX_CLOUD_API_TOKEN}'
        print(batch_api_url)
        data = requests.get(batch_api_url).json()
        for symbol in symbol_string.split(','):
            try:
                hqm_dataframe = hqm_dataframe.append(
                    pd.Series([
                        symbol,
                        float(data[symbol]['price']),
                        'N/A',
                        data[symbol]['stats']['year1ChangePercent'],
                        'N/A',
                        data[symbol]['stats']['month6ChangePercent'],
                        'N/A',
                        data[symbol]['stats']['month3ChangePercent'],
                        'N/A',    
                        data[symbol]['stats']['month1ChangePercent'],
                        'N/A'                    
                    ],index=hqm_columns                   
                    ),ignore_index=True
                )
            except:
                print("This Symbol having issue while fetching data->"+str(symbol))
hqm_dataframe

https://sandbox.iexapis.com/stable/stock/market/batch?symbols=A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA,fb&types=price,stats&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCA,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD,fb&types=price,stats&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=GIS,GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HFC,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP,fb&types=price,stats&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=MCK,MCO,MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK,fb&types=price,stats&token=Tpk_059b97af715d417d9f49f50b51b1c448
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=ROL,ROP,ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VIAC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WLTW,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL,fb&types=price,stats&token=Tpk_059b97af715d417d9f49f50b51b1c448
This Symbol having issue while fetching data->WLTW
https://sandbox.iexapis.com/stable/stock/market/batch?symbols=YUM,ZBH,ZBRA,ZION,ZTS,fb&types=price,stats&token=Tpk_059b97af715d417d9f49f50b51b1c448

,Ticker,Price,Number Of Share to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Year Price Return,Six-Month Return Percentile,Three-Month Year Price Return,Three-Month Return Percentile,One-Month Year Price Return,One-Month Return Percentile
0,A,146.77,N/A,0.154517,N/A,-0.087483,N/A,-0.097356,N/A,-0.052503,N/A
1,AAL,16.55,N/A,-0.044842,N/A,-0.217071,N/A,-0.257557,N/A,-0.124826,N/A
2,AAP,233.57,N/A,0.484394,N/A,0.114049,N/A,-0.008028,N/A,-0.04085,N/A
3,AAPL,177.06,N/A,0.273655,N/A,0.185007,N/A,0.146239,N/A,-0.013655,N/A
4,ABBV,142.87,N/A,0.36748,N/A,0.255564,N/A,0.219865,N/A,0.048115,N/A
...,...,...,...,...,...,...,...,...,...,...,...
499,YUM,127.96,N/A,0.218256,N/A,-0.055659,N/A,-0.007541,N/A,-0.0787,N/A
500,ZBH,125.58,N/A,-0.229628,N/A,-0.184936,N/A,-0.133524,N/A,-0.055253,N/A
501,ZBRA,523.48,N/A,0.23749,N/A,-0.118935,N/A,-0.173331,N/A,-0.10272,N/A
502,ZION,73.68,N/A,0.545433,N/A,0.365642,N/A,0.106186,N/A,0.07591,N/A
503,ZTS,205.19,N/A,0.263553,N/A,-0.018579,N/A,-0.081718,N/A,-0.080253,N/A

# Calculating Momemtum Percentile

In [117]:
time_periods = [
    'One-Year',
    'Six-Month',
    'Three-Month',
    'One-Month'
]
for row in hqm_dataframe.index:
    for time_period in time_periods:
        if hqm_dataframe.loc[row, f'{time_period} Price Return'] == None:
            hqm_dataframe.loc[row, f'{time_period} Price Return'] = 0
hqm_dataframe
for row in hqm_dataframe.index[:2]:
    for time_period in time_periods:

        print((hqm_dataframe.loc[row,f'{time_period} Price Return']))
        print((hqm_dataframe[f'{time_period} Price Return']))
#         hqm_dataframe.loc[row,f'{time_period} Return Percentile'] =
        stats.percentileofscore(hqm_dataframe[f'{time_period} Price Return'],hqm_dataframe.loc[row,f'{time_period} Price Return'])

hqm_dataframe

KeyError: 'Six-Month Price Return'