In [119]:
import pandas as pd
import os

date = '11'

TODAY_FILE = 'NSE_EQUITY_DATA\cm' + date + 'MAR2022bhav.csv'
TODAY_DATE = date + '/03/2022'
FILENAME = 'nse_stocks_closeprice.csv'

In [120]:
stocks = pd.read_csv('EQUITY_L.csv')
stocks.head()
# stocks.set_index(['SYMBOL'],inplace=True)

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-Oct-08,5.0,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-May-95,10.0,1,INE253B01015,10
2,3IINFOLTD,3i Infotech Limited,EQ,22-Oct-21,10.0,1,INE748C01038,10
3,3MINDIA,3M India Limited,EQ,13-Aug-04,10.0,1,INE470A01017,10
4,3PLAND,3P Land Holdings Limited,BE,19-Jul-95,2.0,1,INE105C01023,2

In [121]:
stocks.columns
stocks.drop([' SERIES', ' DATE OF LISTING',
       ' PAID UP VALUE', ' MARKET LOT', ' ISIN NUMBER', ' FACE VALUE'],axis=1,inplace=True)

In [122]:
# stocks.head()

In [123]:
todaydata = pd.read_csv(TODAY_FILE)

todaydata.drop(['SERIES', 'OPEN', 'HIGH', 'LOW', 'LAST', 'PREVCLOSE',
       'TOTTRDQTY', 'TOTTRDVAL', 'TIMESTAMP', 'TOTALTRADES', 'ISIN',
       'Unnamed: 13'],inplace=True,axis=1)

todaydata.set_index(['SYMBOL'],inplace=True)
# todaydata.head()

In [124]:
symbol = ''
for i in range(0,1):
    symbol = stocks.loc[i][0]
# symbol

# todaydata.loc[symbol]['CLOSE']

In [125]:
df  = pd.DataFrame()
if os.path.isfile(FILENAME):
    df = pd.read_csv(FILENAME)
else:
    df = stocks.copy()
    df[TODAY_DATE] = 0
    
df.set_index(['SYMBOL'],inplace=True)
# df.head()

In [126]:
# df.head()

In [127]:
symbol = ''
for i in range(0,len(stocks)):
    try:
        symbol = stocks.loc[i][0]
        closeprice = todaydata.loc[symbol]['CLOSE']  
        df.at[symbol,TODAY_DATE] = float(closeprice)
        
    except:
        print("Symbol is not present-",symbol)

Symbol is not present- ASTRON
Symbol is not present- BRITANNIA
Symbol is not present- EUROTEXIND
Symbol is not present- HDFC
Symbol is not present- HUDCO
Symbol is not present- IBULHSGFIN
Symbol is not present- IDFCFIRSTB
Symbol is not present- IFCI
Symbol is not present- IIFL
Symbol is not present- IMPEXFERRO
Symbol is not present- IRFC
Symbol is not present- KALYANI
Symbol is not present- MELSTAR
Symbol is not present- MOLDTKPAC
Symbol is not present- NHPC
Symbol is not present- NIRAJISPAT
Symbol is not present- NTPC
Symbol is not present- PAEL
Symbol is not present- PFC
Symbol is not present- POONAWALLA
Symbol is not present- RAJRILTD
Symbol is not present- RECLTD
Symbol is not present- RHFL
Symbol is not present- SRTRANSFIN
Symbol is not present- UGROCAP
Symbol is not present- VLIFEPP
Symbol is not present- WOCKH-RE
Symbol is not present- ZENITHSTL

In [128]:
df.to_csv(FILENAME)