# Data Preparation Basic

In [25]:
import pandas as pd
import numpy as np

from pandas import Series,DataFrame

# Selecting and Retreviing data

In [26]:
series_obj = Series(np.arange(8),index=['row1','row2','row3','row4','row5','row6','row7','row8'])
series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int32

In [27]:
series_obj['row7']

6

In [28]:
 series_obj[[0,6]]

row1    0
row7    6
dtype: int32

In [58]:
print(np.random.seed(25))
# print(a)
df_obj = DataFrame(np.random.rand(36).reshape((6,6)),
         index=['row1','row2','row3','row4','row5','row6'],
         columns=['col1','col2','col3','col4','col5','col6'])

df_obj

None

          col1      col2      col3      col4      col5      col6
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [62]:
df_obj.loc[['row2','row3'],['col5','col4']]

          col5      col4
row2  0.402366  0.367080
row3  0.326051  0.520719

# Data Slicing

In [63]:
series_obj['row3':'row6']

row3    2
row4    3
row5    4
row6    5
dtype: int32

# Comparing with Scalar
A scalar value refers to a single value . For example, string number , variable and column. A scalar value is in contrast to a set of values. In mathematical terms , every point in space is represented as a scalar value

In [66]:
df_obj < 0.34

       col1   col2   col3   col4   col5   col6
row1  False  False   True   True  False   True
row2  False  False  False  False  False   True
row3  False  False   True  False   True  False
row4  False  False  False  False  False  False
row5  False  False   True  False  False  False
row6   True  False  False  False   True  False

# Filitering Scalar

In [68]:
series_obj[series_obj < 5.9999999999]

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
dtype: int32

In [70]:
df_obj[df_obj < 0.34]

          col1  col2      col3      col4      col5      col6
row1       NaN   NaN  0.278839  0.185911       NaN  0.117376
row2       NaN   NaN       NaN       NaN       NaN  0.113041
row3       NaN   NaN  0.161985       NaN  0.326051       NaN
row4       NaN   NaN       NaN       NaN       NaN       NaN
row5       NaN   NaN  0.034450       NaN       NaN       NaN
row6  0.281701   NaN       NaN       NaN  0.289804       NaN

# Setting Value with Scalar

In [75]:
series_obj[['row1','row3','row5']] = 8
series_obj

row1    8
row2    1
row3    8
row4    3
row5    8
row6    5
row7    6
row8    7
dtype: int32