# Importing different Library

In [81]:
import numpy as np
import pandas as pd
import requests 
import xlsxwriter
import math

# import our list of stocks

In [82]:
stocks = pd.read_csv("sp_500_stocks.csv")
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

# aquire an API token

In [83]:
from secrets import IEX_CLOUD_API_TOKEN

# Making our First API call

In [84]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
print(api_url)
data = requests.get(api_url)
type(data)
print(data.status_code)
data = requests.get(api_url).json()
print(data)

https://sandbox.iexapis.com/stable/stock/AAPL/quote/?token=Tpk_059b97af715d417d9f49f50b51b1c448
200
{'avgTotalVolume': 107856816, 'calculationPrice': 'close', 'change': -0.3, 'changePercent': -0.00175, 'close': 177.51, 'closeSource': 'fcfioial', 'closeTime': 1715993553643, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': 177.92, 'delayedPriceTime': 1712038188811, 'extendedChange': 0.11, 'extendedChangePercent': 0.00065, 'extendedPrice': 178.3, 'extendedPriceTime': 1689473334380, 'high': 177.51, 'highSource': 'i1nl5a  ciupdydr eemeet', 'highTime': 1650808752687, 'iexAskPrice': None, 'iexAskSize': None, 'iexBidPrice': None, 'iexBidSize': None, 'iexClose': 178.96, 'iexCloseTime': 1710862854220, 'iexLastUpdated': None, 'iexMarketPercent': None, 'iexOpen': 178.93, 'iexOpenTime': 1706604832196, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexVolume': None, 'lastTradeTime': 1673225143387, 'latestPrice': 176.7, 'latestSource': 'Close', 'latestTime': 'February 4, 2022', 'latestUpdate': 1706305013935, 'latestVolume': 84514492, 'low': 174.79, 'lowSource': 'lt raee 5eiun pidce1ydm', 'lowTime': 1691759001327, 'marketCap': 2873796448582, 'oddLotDelayedPrice': 179.32, 'oddLotDelayedPriceTime': 1667293419600, 'open': 174.79, 'openTime': 1709677529181, 'openSource': 'clifiaof', 'peRatio': 29.73, 'previousClose': 174.08, 'previousVolume': 92404990, 'primaryExchange': 'ADQNAS', 'symbol': 'AAPL', 'volume': 83585857, 'week52High': 183.28, 'week52Low': 120.25, 'ytdChange': -0.0304962550841575, 'isUSMarketOpen': False}

# Parsing our call

In [85]:
price =data['latestPrice']
print(price)
market_cap = data['marketCap']
print(market_cap/1000000000000)

176.7
2.873796448582

# Adding our stocks Data to pandas dataFrame

In [86]:
my_columns = ['Ticker','Stock Price','Market Capitalization', 'Number of Share to Buy']
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Share to Buy]
Index: []

In [87]:
# Pandas Series - Need to check ?

In [88]:
final_dataframe.append(
    pd.Series(
        [
            symbol,
            price,
            market_cap,
            'N/A'
        ],
        index = my_columns,
    ),
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Share to Buy
0   AAPL        176.7         2873796448582                    N/A

#  Looping for all stocks

In [101]:
final_dataframe = pd.DataFrame(columns=my_columns)
for stock in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
        pd.Series(
        [
            stock,
            data['latestPrice'],
            data['marketCap'],
            'N/A'
        ],
        index = my_columns),
        ignore_index=True
    )

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [103]:
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Share to Buy
0        A       146.37           42686002920                    N/A
1      AAL        16.56           11061595002                    N/A
2      AAP       232.13           14449959930                    N/A
3     AAPL       180.90         2915911896694                    N/A
4     ABBV       142.76          255188255600                    N/A
..     ...          ...                   ...                    ...
479    WDC        53.12           16222907338                    N/A
480    WEC        97.63           31013075373                    N/A
481   WELL        82.52           36244153013                    N/A
482    WFC        56.67          242305811239                    N/A
483    WHR       208.00           12543696169                    N/A

[484 rows x 4 columns]

# using Bactch API call to improve performance

In [104]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [107]:
symbol_group = list[chunks(stocks['Ticker'],100)]
print(symbol_group)

<generator object chunks at 0x00000268A0685580>